@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes slide {
  0% {
    transform: translateX(0) rotate(-12deg) scale(1.25);
  }
  100% {
    transform: translateX(-50%) rotate(-12deg) scale(1.25);
  }
}

.animate-slide {
  animation: slide 60s linear infinite;
}