annotated-types
anyio
awscli
awscliv2
blinker
boto3
botocore
certifi
charset-normalizer
click
colorama
coloredlogs
decorator
distlib
distro
docutils
executor
fasteners
filelock
Flask
Flask-Cors
h11
httpcore
httpx
humanfriendly
idna
imageio
imageio-ffmpeg
importlib-resources
itsdangerous
Jinja2
jiter
jmespath
MarkupSafe
numpy
openai
pandas
pillow
pipenv
platformdirs
proglog
property-manager
pyasn1
pydantic
pydantic_core
python-dateutil
python-dotenv
pytz
requests
rsa
s3transfer
six
sniffio
tqdm
typing_extensions
tzdata
urllib3
verboselogs
virtualenv
virtualenv-clone
Werkzeug